 
.maincontainer{
    margin-top: 20px;
    display: inline-block;
    min-height: 1vh;
    background: rgba(236, 234, 234, 0.418);
}

h2{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 70px;
    font-family: 'Anton', sans-serif;
    position: relative;
    font-size: 4vw;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.3vw, rgb(255, 255, 255);
}


h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color:  rgb(233, 94, 117);
    -webkit-text-stroke: 0vw  rgba(236, 234, 234, 0.418);
    border-right: 2px solid  rgba(236, 234, 234, 0.418);
    overflow: hidden;
    animation: animate 6s linear infinite;
}


@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}


 .container{
    margin-top: -80px;
    margin-left: -2px;
    width: 100%;
    border: 1px solid rgba(236, 234, 234, 0.418);
    height: 90px;
    background-color: rgba(236, 234, 234, 0.418);
   
 }

 nav{
    display: flex;
 }
 nav ul{
    display: flex;
    margin-left: 55%;
 }
 nav ul li{
    margin-left: 60px;
    margin-top: 50px;
 }

 nav ul li a{
    font-family: 'Merriweather', serif;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
 }
 nav ul li a:after{
    content: "";
    position: absolute;
    background-color: rgb(233, 94, 117);
    height: 3px;
    left: 0;
    width: 0;
    bottom: -10px;
    transition: 0.3s;
 }


 nav ul li a:hover:after{
    width: 100%;
 }

 span{
    color: rgb(233, 94, 117) ;
     
 }


 .navbar-logo2{
    float: right;
    width: 50px;
    margin-right: 50px;
    margin-top: 30px;
 }


 .container2{
    margin-top: 5%;
    margin-left: 220px;
    display: flex;
 }

 .fa-sharp{
    font-size: 20px;
 }

 p{
    margin-left: 50px;
    font-size: 20px;
 }

 .fa-solid{
    font-size: 20px;
 }

 .container3{
    margin-left: 80%;
    margin-top: -15px;
 }

 .dimage2{
    width: 550px;
    margin-left: 120px;
 }

 .diamge2_overlay{
    display: block;
    margin-left: 400px;
 }

 .imagecontainer{
    margin-left: 200px;
    margin-top: -20%;
 }

 h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    margin-left: 85px;
 }



 .divider2{
    width: 100px;
    height: 5px;
    margin-left: 150px;
    margin-top: 20px;
 }


 p{
    font-size: 15px;
    color: #fff;
    margin-left: 60px;
    margin-top: 20px;
 }

 .photoimage{
    margin-left: 180px;
    margin-top: 40px;
 }

 .containertext{
    display: block;
    margin-left: 70%;
    margin-top: -22%;
 }

 .input1{
    width: 300px;
    height: 40px;
    margin-left: -100px;
    margin-top: -160px;
 }

 .containertext2{
    display: block;
    margin-left: 70%;
    margin-top:  5%;
 }

 
 .input2{
    width: 300px;
    height: 40px;
    margin-left: -100px;
    margin-top: -160px;
 }



 .search{
    margin-left: 67%;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 94, 117);
    border: 1px solid #fff;
 }

 .seacrh:hover{
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.4s;
    cursor: pointer;
 }


 .dimage3{
    width: 1100px;
    margin-top: 300px;
    margin-left: 120px;
 }

 


 p{
    color: black;
    width: 1000px;
    margin-left: 150px;
    line-height: 20px;
 }




 
.container-footer{
    color: rgb(255, 255, 255);
    background-color: grey;
    width: 100%;
    height: 180px;
    margin-top: 200px;
    display: flex;
 }
 
 .footerlogo{
    color: #fff;
    font-size: 35px;
    margin-left: 70px;
    margin-top: 70px;
    cursor: pointer;
 }
 
 .footerlogo:hover{
    color: rgb(233, 94, 117);
    transition: ease-in;
 }
 
  .container-menu{
    margin-top: -10px;
    margin-left: 120px;
    display: block;
    padding: 15px;
  }
 
 .cont-menu{
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
 
  .cont-menu:hover{
    transition: ease-in;
    color: rgb(233, 94, 117);
    cursor: pointer;
  }
 
  .container-menu2{
    margin-left: -50%;
    margin-top: 15px;
  }
 
  .container-menu3{
    margin-left: -100%;
    margin-top: 15px;
  }
 
  .home{
    color: rgb(233, 94, 117)s;
  }
 
  .about{
    color: rgb(233, 94, 117);
  }
 
  .test{
    color: rgb(233, 94, 117);
  }
 
  .input{
    height: 30px;
    width: 200px;
    margin-top: 75px;
    margin-left: -90%;
  }
 
  .input:hover{
    cursor: pointer;
    transition: ease-in-out 0.6s;
    color: rgb(233, 94, 117);
  }
 
 
  i .fa-sharp{
    margin-top: 250px;
    display: flex;
  }
 
  h5{
    margin-left: -220px;
    margin-top: 120px;
    font-size: 1rem;
    width: 3000px;
    cursor: pointer;
    display: none;
  }
 
 
  h5:hover{
    color: rgb(233, 94, 117);
    transition: ease-in-out 0.3s;
  }
 
 
  .container-logos{
    margin-left: 80%;
    margin-top: -100px;
    font-size: 34px;   
  }
 
  
 
  i:hover{
    transition: ease-in-out 0.2s;
    cursor: pointer;
    color: rgb(233, 94, 117);
  }
 
 a i{
    color: black;
    font-size: 20px;
    margin-right: 10px;
  }
 
  a i:hover{
    color: rgb(233, 94, 117);
  } 
 

  @media (max-width:768px){
    nav ul{
         margin-left: 120px;
    }
    
    .container2{
        margin-top: 40px;
        margin-left: 30px;
    }

    .dimage2{
        width: 600px;
        margin-left: 40px;
    }


    .imagecontainer{
        margin-left: 90px;
        margin-top: -300px;
    }


    .containertext{
        margin-top: 40%;
        margin-left: 300px;
    }

    .containertext2{
        margin-top: 80px;
        margin-left: 300px;
    }

    .search{
        margin-left: 260px;
    }


    .dimage3{
        width: 600px;
        margin-top: 220px;
        margin-left: 30px;
    }
    
    p{
        margin-left: 50px;
        width: 500px;
    }

    .container-footer{
        width: 90%;
     }
     
     
     .container-menu{
        margin-left: -10px;
     }
     .container-menu2{
        margin-left: 2px;
     }
     
     .container-menu3{
        margin-left: 5px;
     }
     
     
     
     .input{
        width: 50px;
        margin-top: 50px;
        margin-left: 10px;
     }
     
     
     h5{
        display: none;
     }
     
     
     .fa-brands{
        display: block;
        font-size: 25px;
        margin-top: 15px;
        margin-left: -70px;
     }
     
     .fa-solid{
        font-size: 25px;
        padding: 45px;
        margin-left: -120px;
     }
     
      .container-logos{
        display: block;
      }
  }




  @media(max-width:375px){
     nav{
      display: none;
     }
  
     .container2{
      margin-top: 150px;
      display: flex;
     }

     .dimage2{
      width: 300px;
     }

     .imagecontainer{
      width: 300px;
      margin-top: -230px;
      margin-left: 8px;
     }

     h1{
      font-size: 20px;
     }

     .containertext{
      margin-left: 150px;
     }

     .containertext2{
      margin-left: 150px;
     }

     .search{
      margin-left: 120px;
     }


     .dimage3{
      width: 300px;
      margin-left: 50px;
     }

     p{
      margin-left: 50px;
      width: 300px;
     }

     .container-footer{
      width: 100%;
     }

     .container-menu2{
      display: none;
     }

     .container-menu3{
      display: none;
     }

     .input{
      display: none;
     }


    .fa-brands{
       display: none;
    }

    .container-logos{
      margin-left: -10px;
    }
  }